.UserAdress table{
    width: 100%;
    color: rgb(3, 3, 58);
}

.UserAdress th {
    background-color: darkgrey;
    text-align: center;
}

.UserAdress .yes {
    background-color: #ddd;
}

.UserAdress .no {
 background-color: #ccc;
}

.UserAdress td {
    padding-left: 5px;
}

.user-name {
    width: 30%;
}
.user-address{
    width: 70%;
}