.Card{
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 400px;
}

.Card .Title{
    color: #ffffff;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.Card .Content{
    flex: 1;
    color: #ffffff;
    background-color: #577399;
    padding: 10px;
}