body {
    font-family: Oswald;
    background-color: #53687E;
    color: white;
    text-align: center;
}

h1, h2, h3 {
    font-weight: 200;
}

h2, h3 {
    margin: 0;
}

p {
    font-weight: 100;
}

strong {
    color: black;
    font-weight: 500;
}

li, td {
    text-align: left;
}